:root {
    --font-heading: 'League Spartan';
    --font-body: 'quicksand';
    --color-n01: #008DDA;
    --color-n02: #00BCD4;
    --color-n03: #ACE2E1;
    --color-n04: #F7EEDD;
    --light-bg-color: #FFF7F0FF;
}
body {

    background-image: url("../images/Vector.svg");
    background-size: auto;
}

.navbar {
    font-size: 1.2em;
    font-family: var(--font-body), sans-serif;
    font-weight: 700;
}

.title-section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #fff7f0;
    width: fit-content;
}

.name-section {
    font-family: var(--font-heading), sans-serif;
    font-size: 9em;
    font-weight: 700;
}
.job-section {
    gap: 1rem;
    font-size: 5em;
    font-family: var(--font-body), sans-serif;
}

.origin-section {
    font-family: var(--font-heading), sans-serif;
    font-weight: 750;
    font-size: 3em;


}
.origin-section:hover {
    font-family: var(--font-heading), sans-serif;
    font-size: 3em;
    font-weight: bold;
    background-image: url("../images/flag-colors.svg");
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    ;
}

.see-project-btn  {
    width: fit-content;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 1.3em;
    font-weight: 500;
    font-family: var(--font-body), sans-serif;
    a {
        text-decoration: none;
        color: black;
    }
}

.see-project-btn:hover {
    background-color: var(--color-n03);
}


@media (max-width: 400px) {
    body {
        background-repeat: repeat;
    }
}
