
:root {
    --text-header-color: black;
    --text-ui-color: var(--color-code04);
    --text-body-color: black;
}
.homepage {
/*    homepage background color*/
    background-color: var(--color-code01);
}

.about-page {
/*    about page background color*/
    background-color: var(--color-code03);
}

.project-page {
    background-color: var(--color-code02);
}

.contact-page {
    background-color: var(--color-code04);
}